<div id="service_card" class="animated flipInY stackable-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{title}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {{#each items}} 
      <div class="{{itemClasses}}">
        <strong>{{itemName}}</strong>
        <span>{{someData.[0]}}</span>
      </div>
    {{/each}}
  </div>
</div>


