<div>
  <header class="mdl-layout__header is-casting-shadow">
    <nav class="mdl-navigation">
      <a href="/" class="mdl-layout-title">TITLE HERE</a>
      <div class="mdl-layout-spacer"></div>
    </nav>
  </header> 
</div>
